.chart-container {
    width: 100%;  /* Ocupar 100% da largura do pai */
    max-width: 600px; /* Limite máximo de largura */
    height: auto; /* Ajuste conforme necessário */
    box-sizing: border-box;
    margin-bottom: 40px;
}