body {
    font-family: "Poppins", sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
    background-image: linear-gradient(45deg, rgba(255,0,164,1) 0%,
     rgba(196,0,126,1) 50%, 
     rgb(1, 211, 253) 100%);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
    color: white;
}
h1 {
    font-size: 28px;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
}

#content {
    width: 100%;
}